h1 {
    color: ghostwhite;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: 1200;
    letter-spacing: -1px;
    line-height: 1;
    text-align: -moz-right;
    position: relative;
    bottom: -255px;
}

h15 {
    color: yellow;
    font-family: 'Optima', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
    position: relative;
    bottom: -255px;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    text-align: -moz-center;
}