body {
    background-color: red;
}

.modal-body {
    background-color: #fff;
    border-color: #fff
}

.close {
    color: #000;
    cursor: pointer
}

.close:hover {
    color: #000
}

.theme-color {
    color: #004cb9
}

hr.new1 {
    border-top: 2px dashed #fff;
    margin: 0.4rem 0
}

.btn-primary {
    color: #fff;
    background-color: #004cb9;
    border-color: #2eb82e;
    padding: 22px;
    border-radius: 1px;
    font-size: 17px;
    margin-left: 100px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #004cb9;
    border-color: #2eb82e;
    padding: 22px;
    border-radius: 1px;
    font-size: 17px
}